
/* ----- DAY MODE START ----- */

#image1 {
    background: url(../assets/file\ 1.jpg) no-repeat;
    background-size: 100%;
}

.smallBoxes {
    padding: 20px;
    text-align: center;
    line-height: 30px;
}

/* search bar/favorites start */

.right {
    display: flex;
    justify-content: right;
}

.btnSizeHeart {
    width: 40px;
    border-radius: 15px;
    background-color: #FFF9C8;
    border-width: 1px;
    padding: 5px;
}

.heart {
    background-color: #FFF9C8;
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin-left: 2px;
}

.searchFont {
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.favFont {
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    font-weight: boldera;
}

.wrapper {
    width: 350px;
    max-width: 100%;
    position: relative;
}

.wrapper input {
    background-color: white;
    border-width: 1px;
    border-radius: 10px;
    padding: 5px;
    height: 38px;
}

.wrapper button {
    background-color: #FFF9C8;
    position: absolute;
    right: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: 1px;
    padding: 5px;
    width: 40px;
}

.wrapper button img {
    height: 24px;
    width: 18px;
}

.favButton {
    background-color: #FFF9C8;
    border-radius: 15px;
    border-width: 1px;
    padding: 5px;
    height: 38px;
    width: 100px;
}

.darkModeBtn {
    width: 40px;
    border-radius: 15px;
    background-color: #FFF9C8;
    border-width: 1px;
    padding: 5px;
}

.moon {
    background-color: #FFF9C8;
    height: 30px;
}

.backBtn {
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 30px;
    padding: 5px;
    width: 150px;
    background-color: #FFF9C8;
}

.backBtnFont {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}
/* search bar/favorites end */



/* current location start */
.headerFont {
    font-family: 'Road Rage', sans-serif;
    font-size: 80px;
}

.bodyFont {
    font-family: 'Sometype Mono', monospace;
    font-size: 30px;
    font-weight: bold;
    line-height: 15px;
}

.bodyFont2 {
    font-family: 'Sometype Mono', monospace;
    font-size: 20px;
    font-weight: bold;
    line-height: 15px;
}

.bodyFont3 {
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
}

.bodyFont4 {
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    font-weight: bolder;
}

.border1 {
    background: rgba(200, 255, 229, .9);
    padding: 50px;
    padding-left: 100px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    height: 300px;
    width: 600px;
}

.border2 {
    background: rgba(200, 255, 229, .9);
    padding: 50px;
    padding-right: 100px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 300px;
    width: 800px;
}

.middleBorder {
    border-right: 3px solid gray;
}

.same {
    display: inline-block;
}

.data {
    display: flex;
    justify-content: space-around;
}

.tempImg {
    display: flex;
    justify-content: left;
    width: 100px;
    height: 100px;
}

.tempImg2 {
    width: 80px;
    height: 100px;
}

/* current location end */


/* 5 day forecast start */
.littleBox {
    background-color: rgba(200, 245, 255, .9);
    border-radius: 30px;
    margin: 25px;
}

.data5 {
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
}

.font5Day {
    font-family: 'Sometype Mono', monospace;
    font-size: 20px;
    font-weight: bold;
    line-height: 5px;
}

.font5Day2 {
    font-family: 'Sometype Mono', monospace;
    font-size: 18px;
    font-weight: bold;
    line-height: 1px;
}

.font5Data {
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.weatherBar {
    width: 120px;
    height: 20px;
}

/* 5 day forecast end */

/* button hovers start */

.buttonDayMode button:hover {
    background-color: #FFD541;
    color: black;
}

.btnSizeHeart :hover {
    background-color: #FFD541;
}

.darkModeBtn :hover {
    background-color: #FFD541;
}
.moon :hover {
    background-color: #FFD541;
}

.buttonDarkMode button:hover {
    background-color: rgb(116, 61, 132);
    color: white;
}

.btnSizeHeartDark :hover {
    background-color:  rgb(116, 61, 132);
}

.lightModeBtn :hover {
    background-color: rgb(116, 61, 132);
}

.sun :hover {
    background-color:  rgb(116, 61, 132);
}

/* button hovers end */

/* ----- DAY MODE END ----- */


/* ----- NIGHT MODE START ----- */

#image2 {
    background: url(../assets/1109770\ 1.jpg) no-repeat;
    background-size: 100%;
}

/* current location start */
.headerFontDark {
    font-family: 'Road Rage', sans-serif;
    font-size: 80px;
    color: white;
}

.border1Dark {
    background: rgba(208, 200, 255, .9);
    padding-top: 50px;
    padding: 50px;
    padding-left: 100px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    height: 300px;
    width: 600px;

}

.border2Dark {
    background: rgba(208, 200, 255, .9);
    padding-top: 50px;
    padding: 50px;
    padding-right: 100px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 300px;
    width: 800px;
}

.btnSizeHeartDark {
    width: 40px;
    border-radius: 15px;
    background-color: #f4c8ff;
    border-width: 1px;
    padding: 5px;
}

.heartDark {
    background-color: #f4c8ff;
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin-left: 2px;
}

.favButtonDark {
    background-color: #f4c8ff;
    border-radius: 15px;
    border-width: 1px;
    padding: 5px;
    height: 38px;
    width: 100px;
}

.lightModeBtn {
    width: 40px;
    border-radius: 15px;
    background-color: #f4c8ff;
    border-width: 1px;
    padding: 5px;
}

.sun {
    background-color: #f4c8ff;
    height: 30px;
}

.wrapper .darkMode {
    background-color: #f4c8ff;
    position: absolute;
    right: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: 1px;
    padding: 5px;
    width: 40px;
}

.wrapper button img .darkImg {
    height: 24px;
    width: 18px;
}

.backBtnDark {
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 30px;
    padding: 5px;
    width: 150px;
    background-color: #f4c8ff;
}

.backBtnFontDark {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

/* ----- NIGHT MODE END ----- */


/* ----- FAVORITES PAGE START ----- */

/* DAY MODE */

.favoritesBorder {
    background: rgba(200, 245, 255, .9);
    padding: 20px;
    border-radius: 20px;
    width: 300px;
}


.removeBtn {
    background-color: #FFF9C8;
    border-radius: 10px;
}

.favFontPage {
    font-family: 'Sometype Mono', monospace;
    font-weight: bolder;
    font-size: 15px;
}

.favFont2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.favFont3 {
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    font-weight: bold;
}
