/* ----- DAY MODE START ----- */

#image1 {
    background-image: url(../assets/file\ 1.jpg);
}

/* search bar/favorites start */

.right {
    display: flex;
    justify-content: right;
}

.btnSizeHeart {
    width: 40px;
    border-radius: 15px;
    background-color: #FFF9C8;
    border-width: 1px;
    padding: 5px;
}

.heart {
    background-color: #FFF9C8;
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin-left: 2px;
}

.searchFont {
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.favFont {
    font-family: 'Orbitron', sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.wrapper {
    width: 350px;
    max-width: 100%;
    position: relative;
}

.wrapper input {
    background-color: white;
    border-width: 1px;
    border-radius: 10px;
    padding: 5px;
    height: 38px;
}

.wrapper button {
    background-color: #FFF9C8;
    position: absolute;
    right: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: 1px;
    padding: 5px;
    width: 40px;
}

.wrapper button img {
    height: 24px;
    width: 18px;
}

.favButton {
    background-color: #FFF9C8;
    border-radius: 15px;
    border-width: 1px;
    padding: 5px;
    height: 38px;
    width: 100px;
}
/* search bar/favorites end */



/* current location start */
.headerFont {
    font-family: 'Road Rage', sans-serif;
    font-size: 80px;
}

.bodyFont {
    font-family: 'Sometype Mono', monospace;
    font-size: 30px;
    font-weight: bold;
    line-height: 15px;
}

.bodyFont2 {
    font-family: 'Sometype Mono', monospace;
    font-size: 20px;
    font-weight: bold;
    line-height: 15px;
}

.bodyFont3 {
    font-family: 'Sometype Mono', monospace;
    font-size: 40px;
    font-weight: bold;
}

.bodyFont4 {
    font-family: 'Sometype Mono', monospace;
    font-size: 60px;
    font-weight: bolder;
}

.border1 {
    background: rgba(200, 255, 229, .9);
    padding-top: 50px;
    padding: 50px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    height: 300px;
}

.border2 {
    background: rgba(200, 255, 229, .9);
    padding-top: 50px;
    padding: 50px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 300px;
}

.middleBorder {
    border-right: 3px solid gray;
}

.same {
    display: inline-block;
}

.data {
    display: flex;
    justify-content: space-evenly;
}

.tempImg {
    display: flex;
    justify-content: left;
    width: 100px;
    height: 100px;
}

.tempImg2 {
    width: 80px;
    height: 100px;
}

/* current location end */




/* ----- DAY MODE END ----- */